{% if router in ['fastapi', 'starlette'] %}
    {% include '_starlette_endpoints.py.jinja' %}
{% elif router == 'blacksheep' %}
    {% include '_blacksheep_endpoints.py.jinja' %}
{% elif router == 'litestar' %}
    {% include '_litestar_endpoints.py.jinja' %}
{% elif router == 'esmerald' %}
    {% include '_esmerald_endpoints.py.jinja' %}
{% elif router == 'lilya' %}
    {% include '_lilya_endpoints.py.jinja' %}
{% elif router == 'quart' %}
    {% include '_quart_endpoints.py.jinja' %}
{% elif router == 'falcon' %}
    {% include '_falcon_endpoints.py.jinja' %}
{% elif router == 'sanic' %}
    {% include '_sanic_endpoints.py.jinja' %}
{% endif %}
