[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39', 'py310']

[tool.isort]
profile = "black"
line_length = 79

[tool.mypy]
[[tool.mypy.overrides]]
module = [
    "asyncpg.*",
    "colorama",
    "dateutil",
    "IPython",
    "jinja2",
    "orjson"
]
ignore_missing_imports = true


[tool.pytest.ini_options]
markers = [
    "integration",
]

[tool.coverage.run]
omit = ["*.jinja", "**/piccolo_migrations/*", "**/piccolo_app.py"]
