name: Test Suite

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
    linters:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.7, 3.8, 3.9]

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r tests/test-requirements.txt
            - name: Lint
              run: ./scripts/lint.sh

    postgres:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.7, 3.8, 3.9]
                postgres-version: [9.6, 10, 11, 12, 13]

        # Service containers to run with `container-job`
        services:
            # Label used to access the service container
            postgres:
                # Docker Hub image
                image: postgres:${{ matrix.postgres-version }}
                # Provide the password for postgres
                env:
                    POSTGRES_PASSWORD: postgres
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r tests/test-requirements.txt
            - name: Setup postgres
              run: |
                  export PGPASSWORD=postgres
                  psql -h localhost -c 'CREATE DATABASE piccolo;' -U postgres
                  psql -h localhost -c "CREATE USER piccolo PASSWORD 'piccolo';" -U postgres
                  psql -h localhost -c "GRANT ALL PRIVILEGES ON DATABASE piccolo TO piccolo;" -U postgres
                  psql -h localhost -c "CREATE EXTENSION IF NOT EXISTS \"uuid-ossp\";" -d piccolo -U postgres

            - name: Test with pytest, Postgres
              run: ./scripts/test-postgres.sh
              env:
                  PG_HOST: localhost
                  PG_DATABASE: piccolo
                  PG_PASSWORD: postgres
            - name: Upload coverage
              uses: codecov/codecov-action@v1
              if: matrix.python-version == '3.7'

    sqlite:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.7, 3.8, 3.9]

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r tests/test-requirements.txt
            - name: Test with pytest, SQLite
              run: ./scripts/test-sqlite.sh
